@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #007A33;
}

html {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.App {
  margin: 0;
  display: grid;
  grid-template-rows: 3;
}

.root {
  margin: 0 auto;
}

.app-header, .header-logo {
  text-align: center;
}

.header-logo {
  padding-top: 30px;
  height: 200px;
}

/* Team Filter component: */
.team-dropdown-div {
  margin: 0 auto;
}

#team-dropdown {  
  margin: 45px auto 0 auto;
  width: 306px;
  height: 30px;
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif; 
}

/* Position Filter component: */
.position-filter {
  margin: 0 auto;
  text-align: center;
  
}

#position-dropdown {
  margin: 45px auto 0 auto;
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* Search Filter component: */
.top-filter {
  margin: 50px auto 50px auto;
}
input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
 
input[type=text]:focus {
  box-shadow: 0 0 5px rgb(15, 65, 15);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(15, 65, 15);
}
#search-input {
  width: 300px;
  padding-right: 0;
}


/* Set up Player Grid */
.player-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.player {
  margin: 0 auto 25px auto;
  background: white;
  border: 2px solid rgb(15, 65, 15);
  border-radius: 10px;
  max-width: 300px;

}


/* Header info */
.header {
  display: grid;
  max-height: 150px;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
}

.header-left > * {
  margin-left: 15px;
}

.header-left, .header-right {
  width: 150px;
}

.player-name {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.birthday {
  margin-top: 3px;
  margin-bottom: 3px;
}

.years-played {
  margin-top: 3px;
}

.birthday, .seasons-played, .weight, .height {
  color: #858585;
}

.position {
  margin-top: 15px;
  margin-bottom: 15px;
}

.weight-height {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
}

.weight, .height {
  margin-top: 0px;
}

.header-right {
  text-align: right;
}

/* Stats box */
.player-stats {
  background: #f4f4f4;
  background-clip: padding-box;
  background-size: cover;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.player-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats-left,.stats-right,  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 55px;
}

.games, .steals, .total, .pg {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.pergame {
  font-style: italic;
  font-size: 11px;
  margin-top: 0px;
}

.total .label, .total .stat {
  margin-bottom: 2px;
}

.stat {
  margin-right: 5px;
}

.stats-right .label, .stats-right .stat {
  margin-right: 10px;
}

.label {
  font-weight: bold;
}

.label.pergame {
  font-weight: normal;
}

/* Player Card Footer */
.footer {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  }

.stat-link {
  color: #265423;
  font-weight: bold;
  font-size: 16px;
}

/* Page Footer */

footer {
  margin: 45px auto 0 auto;
}

footer p, .footer-source {
  text-align: center;
}

.footer-source {
  color: #efefef;
}


/* Media Queries */

/* Computer */
@media screen and (max-width: 2000px) {
  .player-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .player {
    margin: 0 auto 25px auto;
  }
}

@media screen and (max-width: 1650px) {
  .player-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .player {
    margin: 0 5% 25px 5%;
  }
}

/* Laptop */
@media screen and (max-width: 1250px) {
  .player-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .player {
    margin: 0 5% 25px 5%;
  }
}

/* Tablet */
@media screen and (max-width: 900px) {
  .player-grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .player {
    margin-bottom: 25px;
  }
}

/* Mobile Phone */
@media screen and (max-width: 750px) {
  .App {
    margin-left: 10px;
    margin-right: 10px;
  }
  .player-grid {
    grid-template-columns: 1fr;
  }
  
  .player {
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 450px) {
  footer p {
    margin-left: 15px;
    margin-right: 15px;
  }
}